@(categories: CategoryTree, session: UserSession)

<div class="catalog-block">
    <div class="container">
        <ul class="catalog">
            @for(branch : CategoryBranch <- categories.branches) {
            <li class="has-submenu"><a href="/products/@branch.uniqueName">@branch.name<i class="fa fa-chevron-down"></i></a>
                <ul class="submenu">
                @for(branch1 : CategoryBranch <- branch.children) {
                    <li><a href="#">Wristlet</a></li>
                    <li class="has-submenu"><a href="/products/@branch1.uniqueName">@branch1.name</a> <!--Class "has-submenu" for adding carret and dropdown-->
                        <ul class="sub-submenu">
                        @for(branch2 : CategoryBranch <- branch1.children) {
                            <li>><a href="/products/@branch2.uniqueName">@branch2.name</a></li>
                        }
                        </ul>
                    </li>
                }
                    @*<li><a href="#">Envelope</a></li>*@
                    @*<li class="offer">*@
                        @*<div class="col-1">*@
                            @*<p class="p-style2">Use product images on the menu. It's easier to percept a visual content than a textual one. </p>*@
                        @*</div>*@
                        @*<div class="col-2">*@
                            @*<img src=@routes.Assets.at("frontend/img/offers/menu-drodown-offer.jpg") alt="Special Offer"/>*@
                            @*<a class="btn btn-black" href="#"><span>584$</span>Special offer</a>*@
                        @*</div>*@
                    @*</li>*@
                </ul>
            </li>
            }
        </ul>
    </div>
</div>
