<!--Javascript (jQuery) Libraries and Plugins-->
<script src=@routes.Assets.at("frontend/js/libs/jquery-1.11.1.min.js")></script>
<script src=@routes.Assets.at("frontend/js/libs/jquery-ui-1.10.4.custom.min.js")></script>
<script src=@routes.Assets.at("frontend/js/libs/jquery.easing.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/bootstrap.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/smoothscroll.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/jquery.validate.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/icheck.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/jquery.placeholder.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/jquery.stellar.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/jquery.touchSwipe.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/jquery.shuffle.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/lightGallery.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/owl.carousel.min.js")></script>
<script src=@routes.Assets.at("frontend/js/plugins/masterslider.min.js")></script>
<script src=@routes.Assets.at("frontend/mailer/mailer.js")></script>
<script src=@routes.Assets.at("frontend/js/scripts.js")></script>
