@(products: List[List[(Product, Int)]], category: Category, session: UserSession)

<div role="main" class="container">
    <div class="row">
        <div class="span12">
            <h2>Products</h2>
        </div>
    </div>
</div>
<div role="sub" class="container">
    @if(products.isEmpty) {
    <div class="row">
        <div class="span12">
            <h4>No products in this category</h4>
        </div>
    </div>
    } else {
        @for(prodGroup <- products) {
        <div class="row">
            @for(prodInd <- prodGroup) {
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <img src="@prodInd._1.thumbnails.head" />
                <h4><a href="/product/@prodInd._1.productId">@prodInd._1.name</a></h4>
                <h5>@prodInd._1.secondLine</h5>
                <p>@prodInd._1.text</p>
            </div>
            }
        }
        </div>
    }
</div>
