<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>System Categories</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Category List</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a ui-sref="categories.add" class="btn btn-primary btn-sm">Add Category</a>
        </div>
    </div>
</div>
<div class="row" ng-controller="categoryEditController as catListCtrl">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody ng-repeat="category in categories">
                <tr>
                    <td><a ui-sref="categories.show({categoryId:category.categoryId })">{{category.categoryPath}}</a> {{category}}
                    <td><a ui-sref="categories.edit({categoryId:category.categoryId })" class="btn btn-primary btn-sm">Edit</a>&nbsp;
                        <a ui-sref="categories.delete({categoryId:category.categoryId })" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <a ui-sref="categories.add" class="btn btn-primary btn-sm">Add New</a>
        </div>
    </div>
</div>