<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Your Tools</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a ui-sref="products.productlist">Your Tools</a>
            </li>
            <li class="active">
                <strong>View Tool</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a ui-sref="products.productadd" class="btn btn-primary btn-sm">Add Tool</a>
        </div>
    </div>
</div>

<div class="container" ng-controller="productController as prodCtrl">
    <div class="row">
        <div class="col-sm-12">
            <form method="post" role="form">
                <input type="hidden" name="productid" value="{{product.productId}}" />
                <input type="hidden" name="userId" value="{{product.user}}" />
                <div class="form-group"><label for="name">Name :</label> <input type="text" id="name" name="name" class="form-control" ng-model="product.name" required /></div>
                <div class="form-group"><label for="secondLine">Second Line :</label> <input type="text" id="secondLine" name="secondLine" class="form-control" ng-model="product.secondLine"  required/></div>
                <div class="form-group"><label for="categoryId">Category :</label>
                    <select id="categoryId" ng-model="product.categoryId" ng-options="value.categoryId as value.categoryPath for value in categories" required>
                    <option>--</option></select>
                </div>
                <div class="form-group"><label for="productType">Product Type :</label> <input type="text" id="productType" name="productType" class="form-control" ng-model="product.productType" /></div>
                <div class="form-group"><label for="text">Text :</label> <input type="text" rows="10" name="text" id="text" class="form-control" ng-model="product.text"  required/></div>
                <a class="btn btn-primary btn-sm" ng-click="submitTheForm()">Submit</a>
                <a class="btn btn-danger btn-sm pull-right" ng-click="backToShow(product.productId)">Cancel</a>
            </form>
        </div>
    </div>

</div>
{{product}}<br />
{{categories}}