@(optProduct:Option[Product], session: UserSession, inputErrors: Option[Form[UserProductController.ProductData]])

<div class="container">
    @if(inputErrors.isDefined) {
    <div class="row">
        <div class="col-sm-12">
                <div class="alert alert-danger" role="alert">
                @for(formErrors <- inputErrors.get.errors) {
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @Messages(s"${formErrors.key}.${formErrors.message}")
                }
                </div>
        </div>
    </div>
    }
    @if(optProduct.isDefined) {
        <div class="row">
            <div class="col-sm-12">
                <form action="/user/product/edit/@optProduct.get.productId.getOrElse("")" method="post" role="form">
                    <input type="hidden" name="productid" value="@optProduct.get.productId.getOrElse("")" />
                    <input type="hidden" name="userId" value="@optProduct.get.user" />
                    <div class="form-group"><label for="name">@Messages("productedit.form.name"):</label> <input type="text" name="name" class="form-control" value="@optProduct.get.name" /></div>
                    <div class="form-group"><label for="secondLine">@Messages("productedit.form.secondLine"):</label> <input type="text" name="secondLine" class="form-control" value="@optProduct.get.secondLine.getOrElse("")" /></div>
                    <div class="form-group"><label for="categoryId">@Messages("productedit.form.categoryId"):</label> <input type="text" name="categoryId" class="form-control" value="@optProduct.get.categoryId.getOrElse("")" /></div>
                    <div class="form-group"><label for="productType">@Messages("productedit.form.productType"):</label> <input type="text" name="productType" class="form-control" value="@optProduct.get.productType.getOrElse("")" /></div>
                    <div class="form-group"><label for="text">@Messages("productedit.form.text"):</label> <input type="text" name="text" class="form-control" value="@optProduct.get.text" /></div>
                    <button type="submit">@Messages("productedit.form.button.submit")</button>
                    <button type="submit">@Messages("productedit.form.button.cancel")</button>
                </form>
            </div>
        </div>
    } else {
        <div class="row">
            <div class="col-sm-12">@Messages("productedit.form.invalidproduct")</div>
        </div>
    }

</div>