@(session: UserSession)
<div class="container">
    <form action="#">
    <div ng-controller="UserProductListController as prodListCtrl">
        <h2>@Messages("productlist.text.title")</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>cb</th> <!-- checkbox them all -->
                    <th>@Messages("productlist.header.name")</th>
                    <th>@Messages("productlist.header.lastEdit")</th>
                    <th>@Messages("productlist.header.dateAdded")</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody ng-repeat="product in prodListCtrl.products">
                <tr>
                    <td>cb</td>
                    <td><a href="/user/product/{{product.productId}}">{{product.name}}</a><br/> {{product.secondLine}} </td>
                    <td>{{product.lastEditDate}}</td>
                    <td>{{product.dateAdded}}</td>
                    <td><button type="submit">Edit</button></td>
                </tr>
            </tbody>
        </table>

    </div><button type="submit">Delete Checked</button> <button type="submit">Add New</button>
    </form>
</div>