@(productList: List[Product], session: UserSession, inputErrors: Option[Form[UserProductController.ProductData]])
<div class="container">
    @if(inputErrors.isDefined) {
        <div class="row">
            <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert">
                    @for(formErrors <- inputErrors.get.errors) {
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        @Messages(s"${formErrors.key}.${formErrors.message}")
                    }
                    </div>

            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-8">Name</div>
        <div class="col-md-2">Last Updated</div>
        <div class="col-md-2">Added</div>
    </div>
    @for(product <- productList) {
        <div class="row">
            <div class="col-md-8"><a href="/user/product/@product.productId.get">@product.name</a></div>
            <div class="col-md-2">@product.lastUpdate.getOrElse("")t</div>
            <div class="col-md-2">@product.addedDateTime.getOrElse("")</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @product.secondLine @product.secondLine
            </div>
        </div>
    }
</div>