@(session: UserSession, inputErrors: Option[Form[Login.UserData]])

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if(inputErrors.isDefined) {
                <div class="alert alert-danger" role="alert">
                @for(formErrors <- inputErrors.get.errors) {
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                     @Messages(s"${formErrors.key}.${formErrors.message}")
                }

                </div>
            }
            <form action="/login" method="post" role="form">
                <div class="form-group"><label for="username">@Messages("login.form.userid"):</label><input type="text" class="form-control" name="username" /></div>
                <div class="form-group"><label for="password">@Messages("login.form.password"):</label> <input type="password" class="form-control" name="password" /></div>
                <button type="submit" class="btn btn-default">@Messages("global.button.submit")</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="/lostpassword">@Messages("login.cantrememberpassword.text")</a>
        </div>
    </div>
</div>