@(session: UserSession, inputErrors: Option[Form[Login.LostPasswordData]])

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if(inputErrors.isDefined) {
                <div class="alert alert-danger" role="alert">
                @for(formErrors <- inputErrors.get.errors) {
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @Messages(s"${formErrors.key}.${formErrors.message}")
                }

                </div>
            }
        <form action="/login" method="post">
            <h5>@Messages("lostpassword.form.text")</h5>
            @Messages("login.form.userid"): <input type="text" name="username" /><br/>
            CAPTIA Code Here
        <input type="submit" value="Login">
        </form>
        </div>
    </div>
</div>