<div class="container">
    <div ng-init="categoriesFn();">
        <h2>System Categories</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody ng-repeat="category in categories">
            <tr>
                <td><a ng-href="#/show/{{category.categoryId}}">{{category.categoryPath}}</a>
                <td><button ng-click="goToEdit(category.categoryId)">Edit</button>&nbsp;<button ng-click="goToEdit(category.categoryId)">Delete</button></td>
            </tr>
            </tbody>
        </table>

    </div><button type="submit" ng-click="submitTheForm()">Delete Checked</button> <button type="submit" ng-click="goToAdd()">Add New</button>
</div>