<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Your Tools</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Your Tools</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a ui-sref="products.add" class="btn btn-primary btn-sm">Add Tool</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-controller="productController as prodListCtrl">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Your Tools</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Edit</th>
                        <th>Date Added</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="product in products">
                    <tr>
                        <td><a ui-sref="products.show({productId:'{{product.productId}}'})">{{product.name}}</a><br/> {{product.secondLine}} </td>
                        <td>{{product.lastEditDate}}</td>
                        <td>{{product.dateAdded}}</td>
                        <td><a ui-sref="products.edit({productId:product.productId})" class="btn btn-primary btn-sm">Edit</a>&nbsp;
                            <a ui-sref="products.delete({productId:product.productId})" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
                    <a ui-sref="products.add" class="btn btn-primary btn-sm">Add New</a>
                </div>
            </div>
        </div>
    </div>
</div>
