<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{ 'USERS' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>{{ 'USERS' | translate }} List</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a ui-sref="users.add" class="btn btn-primary btn-sm">Add {{ 'USERS' | translate }}</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-controller="userController as userListCtrl">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>System Users</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Emai</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="user in users">
                        <tr>
                            <td><a ui-sref="user.show({userId:user.userId })">{{user.lastName}}, {{user.firstName}}</a><br>
                                {{user.address.addressLine1}}<br />
                                {{user.address.addressLine2}}<br />
                                {{user.address.city}}, {{user.address.state}} {{user.address.zip}}<br />
                                {{user.address.country}}
                            </td>
                            <td>{{user.email}}</td>
                            <td><a ui-sref="users.edit({userId:user.userId })" class="btn btn-primary btn-sm">Edit</a>&nbsp;
                                <a ui-sref="users.delete({userId:user.userId })" class="btn btn-danger btn-sm">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <a ui-sref="users.add" class="btn btn-primary btn-sm">Add New</a>
                </div>
            </div>
        </div>
    </div>
</div>